@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Panchang';
  src: url('./assets/fonts/Panchang.ttf');
}

@font-face {
  font-family: 'DINRoundPro';
  src:
    local('DINRoundPro-Black'),
    url('./assets/fonts/DINRoundPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* @font-face {
    font-family: 'DINRoundPro-Medi';
    src: local('DINRoundPro-Medi'),
        url('./assets/fonts/DINRoundPro-Medi.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
} */

@font-face {
  font-family: 'DINRoundPro';
  src:
    local('DINRoundPro-Light'),
    url('./assets/fonts/DINRoundPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DINRoundPro';
  src:
    local('DINRoundPro'),
    url('./assets/fonts/DINRoundPro-Medi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINRoundPro';
  src:
    local('DINRoundPro-Bold'),
    url('./assets/fonts/DINRoundPro-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body,
::before,
::after,
input::placeholder {
  font-family: 'DINRoundPro', sans-serif;
}

.global-background {
  background: no-repeat url('./assets/images/background.webp');
  background-position: center;
  background-size: cover;
  filter: blur(80px) grayscale(1) brightness(1.05);
}

@layer components {
  .text-outline-transparent {
    text-shadow:
      2px 2px 0px rgba(224, 242, 254, 1),
      2px -2px 0px rgba(224, 242, 254, 1),
      -2px 2px 0px rgba(224, 242, 254, 1),
      -2px -2px 0px rgba(224, 242, 254, 1);
    color: white;
  }
}

.center {
  @apply flex items-center justify-center;
}

.vh-flex-column {
  @apply flex flex-col;
}

.vh-flex-row {
  @apply flex flex-row;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #64748b;
}
